Repository tmf-map/docsite, pull requests merged in 2019-12, with the labels that each got.

#7 add exports vs module.exports to blog
  blog/2019-10-09-setTimeout和for循环.md
  blog/2019-10-11-setTimeout-or-setInterval.md
  blog/2019-11-04-Reverse-Proxy.md
  blog/2019-11-27-webService.md
  blog/2019-12-03-exports-vs-module.exports.md
Labels: Blog

#8 add(blog): exports, export default and export
  blog/2019-12-03-exports-vs-module.exports.md
  blog/2019-12-05-exports-vs-export.md
  docs/javascript/6.modules/es6-module.md
Labels: Blog

#11 add leetcode 7: reverse-integer
  docs/algorithm/12.reverse/reverse-integer.md
Labels: Blog, enhancement

#10 add(design-patterns): singleton pattern
  docs/design-patterns/1.creation-pattern/singleton.md
  docs/design-patterns/3.behavior-pattern/observer.md
  docs/design-patterns/3.behavior-pattern/pub-sub.md
  docusaurus.config.js
  package.json
  sidebars.js
Labels: doc: design patterns

#14 fix(yarn.lock): potential security vulnerability warning
  yarn.lock
Labels: others

#12 add(web): service worker
  docs/web/10.offline-storage/service-workers.md
Labels: doc: web

#17 add(workflow): github actions for pr triage
  .github/auto_assign.yml
  .github/labeler.yml
  .github/workflows/pr-triage.yml
Labels: dev experience

#19 add(website): icp prepared number
  .github/labeler.yml
  docusaurus.config.js
  src/css/custom.css
  src/theme/Footer/index.js
  src/theme/Footer/styles.module.css
Labels: dev experience, website

#21 add(react): Error boundaries
  docs/react/3.optimization/code-splitting.md
  docs/react/3.optimization/error-boundaries.md
  docs/react/3.optimization/suspense.md
  sidebars.js
Labels: docs: react

#13 add(algorithm): analysis of algorithm complexity
  docs/algorithm/1.analysis-of-algorithms/analysis-of-loops.md
  docs/algorithm/1.analysis-of-algorithms/asymptotic-notations.md
  docs/algorithm/2.array/3sum.md
  docs/algorithm/2.array/duplicated-number-in-array.md
  docs/algorithm/2.array/inverse-pairs.md
  docs/algorithm/preface/note.md
  docusaurus.config.js
  sidebars.js
  src/components/Hint.js
  src/components/Img.js
Labels: docs: algorithm, website

#24 update(readme): more note about yarn and nodejs
  .github/auto_assign.yml
  README.md
Labels: dev experience

#23 update(web): enrich content of http header
  docs/web/1.http/http-status.md
Labels: docs: web

#20 add(http): basic content of TCP/IP and HTTP
  .github/labeler.yml
  docs/http/1.web-basic/http-connection.md
  docs/http/1.web-basic/relevant-protocol.md
  docs/http/1.web-basic/tcp-ip.md
  docs/http/2.evolution/http-1.x.md
  docs/http/2.evolution/http-2.md
  docs/http/3.http-basic/URI.md
  docs/http/3.http-basic/cookie.md
  docs/http/3.http-basic/message-structure.md
  docs/http/3.http-basic/request-methods.md
  docs/http/3.http-basic/status-code.md
  docs/http/3.http-basic/uri.md
  docs/http/4.http-header/working.md
  docs/http/5.http-cache/working.md
  docs/http/6.http-security/working.md
  docusaurus.config.js
  sidebars.js
Labels: dev experience, docs: http, docs: javascript, website

#26 fix(react): move div out of p
  docs/react/3.optimization/error-boundaries.md
Labels: docs: react

#25 optimize sidebars
  docusaurus.config.js
  sidebars.js
  sidebars/algorithm.js
  sidebars/css.js
  sidebars/design-patterns.js
  sidebars/docs.js
  sidebars/html.js
  sidebars/http.js
  sidebars/index.js
  sidebars/java.js
  sidebars/javascript.js
  sidebars/react.js
  sidebars/web.js
Labels: website

#22 add(java): abstract class and interface
  .github/labeler.yml
  docs/java/1.basic/abstract-class-interface.md
  docusaurus.config.js
  sidebars/index.js
Labels: dev experience, docs: java, website

#30 add(github-action): check pr title action
  .github/workflows/pr-title.yml
Labels: dev experience

#29 update(javascript): async/await section
  docs/javascript/9.async-programming/async-await.md
Labels: docs: javascript

#28 add(http): add content of http headers
  docs/http/3.http-basic/cookie.md
  docs/http/3.http-basic/request-methods.md
  docs/http/4.http-header/working.md
  docs/http/4.http-headers/entity-headers.md
  docs/http/4.http-headers/general-headers.md
  docs/http/4.http-headers/headers.md
  docs/http/4.http-headers/request-header.md
  docs/http/4.http-headers/response-headers.md
  sidebars/http.js
Labels: docs: http
