Repository tmf-map/docsite, pull requests merged in 2020-09, with the labels that each got.

#370 update(typescript): traverse enum in ts
  docs/typescript/2.types/enum.md
Labels: docs: typescript

#380 update(html): <s> tag
  docs/html/1.tag/text.md
Labels: docs: html

#353 update(website): use the page-like style
  src/css/blog.css
  src/css/custom.css
  src/css/dark-mode.css
  src/css/leftbar.css
  src/css/media-queries.css
  src/css/navbar.css
  src/css/variables.css
  src/pages/index.module.css
  src/theme/Footer/index.js
  src/theme/Toggle/styles.module.css
Labels: website

#361 add(algorithm): stack and queue
  docs/algorithm/3.stack-queue/basic-calculator.md
  docs/algorithm/3.stack-queue/circular-queue.md
  docs/algorithm/3.stack-queue/implement-queue-using-stacks.md
  docs/algorithm/3.stack-queue/implement-stack-using-queues.md
  docs/algorithm/3.stack-queue/queue.md
  docs/algorithm/3.stack-queue/sliding-window-max.md
  docs/algorithm/3.stack-queue/stack.md
  docs/algorithm/3.stack-queue/valid-parentheses.md
  docs/algorithm/8.sort/selection-sort.md
  docs/typescript/2.types/enum.md
  sidebars/algorithm.js
  src/css/variables.css
Labels: docs: algorithm, docs: typescript, website

#369 add(algorithm): array including multi-dimensional array
  docs/algorithm/2.array/array-introduce.md
  docs/algorithm/2.array/array-skills.md
  docs/algorithm/2.array/diagonal-traverse.md
  docs/algorithm/2.array/kth-largest-element-in-an-array.md
  docs/algorithm/2.array/minimum-size-subarray-sum.md
  docs/algorithm/2.array/rotate-matrix-lcci.md
  docs/algorithm/2.array/search-insert-position.md
  sidebars/algorithm.js
Labels: docs: algorithm

#378 update(javascript): corner case in destructuring asssignment
  docs/javascript/7.reference-type/object.md
Labels: docs: javascript
