Repository tmf-map/docsite, pull requests merged in 2020-11, with the labels that each got.

#425 update(github-actions): pr title
  .github/workflows/pr-title.yml
Labels: dev experience

#358 add(stylus): code style guide
  docs/fe-guidelines/9.stylus-code-guide.md
  sidebars/fe-guidelines.js
Labels: docs: fe guidelines, website

#367 add(html): add element api html
  docs/html/3.element/clientHeight&offsetHeight&scrollHeight.md
  docs/html/3.element/getBoundingClientRect.md
  docs/html/3.element/offsetTop&scrollTop.md
  sidebars/html.js
Labels: docs: html

#426 update(javascript): optimize performance of js
  docs/javascript/11.performance-optimization/debounce.md
  docs/javascript/11.performance-optimization/memoization.md
  docs/javascript/11.performance-optimization/tco.md
  docs/javascript/11.performance-optimization/throttle.md
Labels: docs: javascript

#430 add(algorithm): tree traversal
  docs/algorithm/5.binary-tree/tree-traversal.md
  sidebars/algorithm.js
Labels: docs: algorithm
