Repository tmf-map/docsite, pull requests merged in 2020-06, with the labels that each got.

#240 add(website): local search
  docusaurus.config.js
  package.json
  src/css/navbar.css
  src/theme/Navbar/index.js
  src/theme/Navbar/styles.module.css
  src/theme/SearchBar/algolia.css
  src/theme/SearchBar/index.js
  src/theme/SearchBar/lib/DocSearch.js
  src/theme/SearchBar/lib/lunar-search.js
  src/theme/SearchBar/lib/templates.js
  src/theme/SearchBar/lib/utils.js
  src/theme/SearchBar/lib/zepto.js
  src/theme/SearchBar/styles.module.css
  yarn.lock
Labels: dependencies, website

#242 add(fe guidelines): sync related parts from frontend guideline
  .github/labeler.yml
  .github/release-drafter-config.yml
  docs/fe-guidelines/1.introduction.md
  docs/fe-guidelines/2.principles.md
  docs/fe-guidelines/3.maintainability/comment.md
  docs/fe-guidelines/3.maintainability/function.md
  docs/fe-guidelines/3.maintainability/logic-operation.md
  docs/fe-guidelines/3.maintainability/naming.md
  docs/fe-guidelines/3.maintainability/other.md
  docs/fe-guidelines/3.maintainability/variable.md
  docs/fe-guidelines/4.strictness.md
  docs/fe-guidelines/5.css.md
  docs/fe-guidelines/6.javascript.md
  docs/fe-guidelines/7.frameworks-libs/react.md
  docs/fe-guidelines/7.frameworks-libs/redux.md
  docs/fe-guidelines/8.commit-message.md
  docusaurus.config.js
  sidebars/fe-guidelines.js
  sidebars/index.js
  src/css/markdown.css
  src/css/media-queries.css
  src/css/navbar.css
Labels: dev experience, docs: fe guidelines, website

#258 update(website): style improvement on mobile and pad side
  src/css/media-queries.css
  src/theme/SearchBar/styles.module.css
Labels: website

#269 update(http): correct cookie usage in browser
  docs/http/3.http-basic/cookie.md
Labels: docs: http

#275 update(webpack): details about uglifyjs and terser
  docs/webpack/1.Basic/basic.md
  docs/webpack/1.Basic/plugins.md
Labels: docs: webpack
