Repository tmf-map/docsite, pull requests merged in 2020-03, with the labels that each got.

#108 add(javascript): basic regex and methods
  docs/javascript/7.reference-type/regex.md
Labels: docs: javascript

#111 remove(http): duplicated URI which causes left bar missing
  docs/http/3.http-basic/URI.md
Labels: docs: http

#110 add(typescript): intro to tsconfig.json
  docs/typescript/2.config/compiler-options.md
  docs/typescript/2.config/file-options.md
  docs/typescript/2.config/project-references.md
  docs/typescript/2.config/tsconfig.json.md
  sidebars/typescript.js
Labels: docs: typescript

#113 add(algorithm): leetcode 38 count and say in math
  docs/algorithm/13.math/count-and-say.md
  docs/javascript/7.reference-type/regex.md
  sidebars/algorithm.js
Labels: docs: algorithm, docs: javascript

#119 add(typescript): object and array interface
  docs/typescript/2.interface/function-interface.md
  docs/typescript/2.interface/object-interface.md
  docs/typescript/config/compiler-options.md
  docs/typescript/config/file-options.md
  docs/typescript/config/project-references.md
  docs/typescript/config/tsconfig.json.md
  sidebars/typescript.js
  src/css/admonition.css
  src/css/custom.css
Labels: docs: typescript, website

#125 add(react stack): MobX
  docs/react/5.state-management/mobx.md
  sidebars/react.js
Labels: docs: react

#131 add(blog): how to publish pkg to npm
  blog/2016-08-31-how-to-publish-pkg-to-npm.md
Labels: blog

#135 add(typescript): function interface and function
  docs/typescript/1.types/basic-types.md
  docs/typescript/1.types/enum.md
  docs/typescript/2.interface/as-object-array-type.md
  docs/typescript/2.interface/extend-implement.md
  docs/typescript/2.interface/function-interface.md
  docs/typescript/3.function/overloading.md
  docs/typescript/3.function/parameters.md
  docs/typescript/3.function/types.md
  docs/typescript/config/compiler-options.md
  sidebars/typescript.js
Labels: docs: typescript

#129 add(webpack): add webpack basic and code split
  .github/labeler.yml
  docs/webpack/1.Basic/basic.md
  docs/webpack/2.Advanced/code-split.md
  docs/webpack/2.Advanced/resource-extraction.md
  docusaurus.config.js
  sidebars/index.js
  sidebars/webpack.js
Labels: dev experience, docs: webpack, website

#143 update(website): polish Hint style and ready for admonition
  docs/html/preface/note.md
  docusaurus.config.js
  src/css/admonition.css
Labels: docs: html, website

#130 add(github-action): add release drafter
  .github/release-drafter-config.yml
  .github/workflows/release-drafter.yml
Labels: dev experience
