Repository tmf-map/docsite, pull requests merged in 2020-01, with the labels that each got.

#36 add(http): add http cache and catalog
  docs/http/5.http-cache/browser-caches.md
  docs/http/5.http-cache/proxy-caches.md
  docs/http/5.http-cache/working.md
  docs/http/6.http-security/encryption.md
  docs/http/6.http-security/https.md
  docs/http/6.http-security/working.md
  docs/http/7.large-file-transfer/large-file-transfer.md
  docs/http/8.http-authentication/authentication.md
  docs/http/9.http3/http3.md
  sidebars/http.js
Labels: docs: http

#38 add(HTTP): encryption, https and proxy-cache in HTTP
  docs/http/5.http-cache/proxy-caches.md
  docs/http/6.http-security/encryption.md
  docs/http/6.http-security/https.md
Labels: docs: http

#39 update(web): remove http from web
  docs/web/1.cross-domain/cors.md
  docs/web/1.cross-domain/jsonp.md
  docs/web/1.cross-domain/same-origin-policy.md
  docs/web/1.cross-domain/websocket.md
  docs/web/1.http/http-cache.md
  docs/web/1.http/http-connection.md
  docs/web/1.http/http-status.md
  docs/web/1.http/http1.1.md
  docs/web/1.http/http2.md
  docs/web/1.http/https.md
  docs/web/10.web-security/ JWT.md
  docs/web/10.web-security/CSRF.md
  docs/web/10.web-security/OAuth.md
  docs/web/10.web-security/XSS.md
  docs/web/10.web-security/cookie.md
  docs/web/10.web-security/session.md
  docs/web/11.web-optimize/http-cache.md
  docs/web/11.web-optimize/lazy-loading.md
  docs/web/11.web-optimize/pic-optimize.md
  docs/web/11.web-optimize/webworker.md
  docs/web/2.data-transmission/ajax.md
  docs/web/2.data-transmission/fetch.md
  docs/web/2.data-transmission/file.md
  docs/web/2.data-transmission/form.md
  docs/web/2.data-transmission/json.md
  docs/web/2.data-transmission/url.md
  docs/web/3.browser/navigator.md
  docs/web/3.browser/rendering-engine.md
  docs/web/3.browser/window.md
  docs/web/4.render-load/DOMContentLoaded.md
  docs/web/4.render-load/page-rendering.md
  docs/web/4.render-load/reflow-repaint.md
  docs/web/4.render-load/script.md
  docs/web/5.cross-document/iframe.md
  docs/web/5.cross-document/postMassage.md
  docs/web/6.rooter/hash-rooter.md
  docs/web/6.rooter/history-rooter.md
  docs/web/7.dom/event-object.md
  docs/web/7.dom/event-system.md
  docs/web/7.dom/event-type.md
  docs/web/7.dom/node-crud.md
  docs/web/7.dom/node.md
  docs/web/8.graphics-effects/canvas.md
  docs/web/8.graphics-effects/js-animation.md
  docs/web/8.graphics-effects/webgl.md
  docs/web/9.offline-storage/IndexedDB.md
  docs/web/9.offline-storage/service-workers.md
  docs/web/9.offline-storage/summary.md
  docs/web/9.offline-storage/web-SQL.md
  docs/web/9.offline-storage/webstorage.md
  docusaurus.config.js
  sidebars/web.js
Labels: docs: web

#42 add(HTTP): add http3 to http
  docs/http/9.http3/http3.md
Labels: docs: http

#46 update(readme): adjust content and title
  README.md
Labels: dev experience

#44 add(HTTP): add large file transmission to HTTP
  docs/http/7.large-file-transfer/large-file-transfer.md
  docs/http/8.http-authentication/authentication.md
  docs/http/8.http3/http3.md
  sidebars/http.js
Labels: docs: http

#52 add(component): SeqChart for drawing sequence chart
  .eslintrc.js
  .npmrc
  docs/html/preface/note.md
  package.json
  src/components/Hint/index.css
  src/components/Hint/index.js
  src/components/SeqChart/index.js
  src/components/SeqChart/index.module.css
  yarn.lock
Labels: dependencies, dev experience, docs: html, website

#56 remove(SeqChart): from src/components
  .github/workflows/pr-title.yml
  README.md
  docs/html/preface/note.md
  package.json
  src/components/SeqChart/index.js
  src/components/SeqChart/index.module.css
  yarn.lock
Labels: dependencies, dev experience, docs: html, website

#59 add(blog): automation by github webhooks
  blog/2020-01-12-github-webhooks.md
Labels: blog
