Repository tmf-map/docsite, pull requests merged in 2020-12, with the labels that each got.

#446 update(javascript): optimize some images and the text in scope.md
  docs/javascript/1.basic/scope.md
Labels: docs: javascript

#444 update(javascript): basic and memory
  docs/javascript/1.basic/execute-context.md
  docs/javascript/1.basic/js-engine.md
  docs/javascript/1.basic/scope.md
  docs/javascript/2.memory/memory-check.md
  docs/javascript/2.memory/memory-leak.md
  docs/javascript/2.memory/memory-space.md
  docs/javascript/2.memory/old-new-space.md
  docs/javascript/2.memory/reference-counting.md
Labels: docs: javascript

#431 update(webpack): thread-loader in webpack5/ts
  docs/webpack/1.Basic/loaders.md
Labels: docs: webpack

#427 update(react): container component using hoc and hooks
  docs/react/3.optimization/memo.md
  docs/react/4.three-components/container-component.md
  docs/react/4.three-components/presentational-component.md
  docs/react/4.three-components/ui-component.md
Labels: docs: react

#445 add(algorithm): basic concept of tree and binary tree
  docs/algorithm/5.binary-tree/binary-tree.md
  docs/algorithm/5.binary-tree/tree.md
  sidebars/algorithm.js
Labels: docs: algorithm

#432 update(webpack): more usage for html-webpack-plugin
  docs/webpack/1.Basic/basic.md
  docs/webpack/1.Basic/loaders.md
  docs/webpack/1.Basic/plugins.md
  docs/webpack/2.Advanced/code-split.md
  docs/webpack/2.Advanced/resource-extraction.md
  sidebars/webpack.js
Labels: docs: webpack, status: in progress

#447 update(webpack): more usage about publicPath
  docs/webpack/1.Basic/loaders.md
  docs/webpack/2.Advanced/path-publicPath-contentBase.md
Labels: docs: webpack

#453 update(web): cross domain and ajax
  docs/web/1.cross-domain/cors.md
  docs/web/1.cross-domain/jsonp.md
  docs/web/1.cross-domain/same-origin-policy.md
  docs/web/1.cross-domain/websocket.md
  docs/web/2.data-transmission/ajax.md
Labels: docs: web

#457 update(http): some images
  docs/http/1.web-basic/http-connection.md
  docs/http/2.evolution/http-1.x.md
  docs/http/2.evolution/http-2.md
Labels: docs: http

#458 update(web): images and text optimization of Web 4
  docs/web/4.render-load/DOMContentLoaded.md
  docs/web/4.render-load/page-rendering.md
  docs/web/4.render-load/reflow-repaint.md
  docs/web/4.render-load/script.md
Labels: docs: web
