Repository tmf-map/docsite, pull requests merged in 2020-08, with the labels that each got.

#339 fix(web): url link in CORS
  docs/web/1.cross-domain/cors.md
Labels: docs: web

#323 add(algorithm): Binary search
  docs/algorithm/9.search/binary-search-plus.md
  docs/algorithm/9.search/binary-search.md
  docs/algorithm/9.search/search-in-rotated-sorted-array.md
  docs/algorithm/9.search/sqrtx.md
  sidebars/algorithm.js
Labels: docs: algorithm

#322 update(react): model and rematch usage
  docs/react/5.state-management/model.md
Labels: docs: react

#333 add(python): how to get started
  docs/python/1.get-started/history.md
  docs/python/1.get-started/ide-tools.md
  docs/python/1.get-started/installation.md
  docs/react/5.state-management/model.md
  docusaurus.config.js
  sidebars/index.js
  sidebars/python.js
Labels: docs: python, docs: react, website

#289 add(typescript): advanced types
  docs/typescript/2.types/advanced-types.md
  sidebars/typescript.js
Labels: docs: typescript
