Repository tmf-map/docsite, pull requests merged in 2020-05, with the labels that each got.

#198 add(nodejs): basic usage of yarn
  .github/labeler.yml
  .github/release-drafter-config.yml
  docs/nodejs/package-manager/npm-vs-yarn.md
  docs/nodejs/package-manager/package-version.md
  docs/nodejs/package-manager/yarn.md
  docusaurus.config.js
  sidebars/index.js
  sidebars/nodejs.js
Labels: dev experience, docs: nodejs, website

#208 add(typescript): type checking
  .github/release-drafter-config.yml
  docs/typescript/1.get-started.md
  docs/typescript/2.types/basic-types.md
  docs/typescript/2.types/enum.md
  docs/typescript/2.types/type-checking.md
  docs/typescript/3.interface/as-object-array-type.md
  docs/typescript/3.interface/extend-implement.md
  docs/typescript/4.function/overloading.md
  docs/typescript/4.function/parameters.md
  docs/typescript/4.function/types.md
  docs/typescript/5.class/abstract-class.md
  docs/typescript/5.class/class-and-inheritance.md
  docs/typescript/5.class/class-and-interface.md
  docs/typescript/5.class/data-modifiers.md
  docs/typescript/5.class/polymorphism.md
  docs/typescript/6.generic/generic-class.md
  docs/typescript/6.generic/generic-function.md
  docs/typescript/6.generic/generic-interface.md
  docs/typescript/7.type-checking/type-compatibility.md
  docs/typescript/7.type-checking/type-inference.md
  docs/typescript/7.type-checking/type-protection.md
  docusaurus.config.js
  sidebars/typescript.js
  src/css/navbar.css
Labels: dev experience, docs: typescript, website

#224 add(react): Concurrent mode
  docs/react/3.optimization/concurrent-mode.md
  sidebars/react.js
Labels: docs: react

#207 add(webpack): path vs publicPath vs contentBase
  docs/webpack/2.Advanced/path-publicPath-contentBase.md
  sidebars/webpack.js
Labels: docs: webpack

#236 update(java): update document for abstract class and interface
  docs/java/object-oriented-programming/abstract-class-interface.md
Labels: docs: java

#237 add(blog): create blog for 2> /dev/null in linux
  blog/2020-05-21-linux-redirect-dev-null.md
Labels: blog

#228 update(javascript): await/async special cases
  docs/javascript/9.async-programming/async-await.md
  docs/javascript/9.async-programming/promise.md
  docusaurus.config.js
  src/css/markdown.css
Labels: docs: javascript, website

#181 add(blog): functional programming reading notes
  blog/2016-08-31-how-to-publish-pkg-to-npm.md
  blog/2019-04-18-javascript-functional-programming.md
  blog/2020-01-12-github-webhooks.md
Labels: blog, website

#245 update(website): new design for dark/light theme switch
  package.json
  src/theme/Toggle/index.js
  src/theme/Toggle/styles.module.css
Labels: dependencies, website
