Repository tmf-map/docsite, pull requests merged in 2020-02, with the labels that each got.

#66 update(react): the risk of setState
  docs/react/1.basic/lifecycle.md
  docs/react/1.basic/state.md
Labels: docs: react

#67 update(http): optimize content of https
  docs/http/1.web-basic/http-connection.md
  docs/http/3.http-basic/status-code.md
  docs/http/4.http-headers/request-header.md
  docs/http/6.http-security/encryption.md
  docs/http/6.http-security/https.md
  docs/http/6.http-security/tls.md
  docs/http/7.large-file-transfer/large-file-transfer.md
  sidebars/http.js
Labels: docs: http

#72 add(typescript): basic types
  .github/labeler.yml
  docs/typescript/1.types/basic-types.md
  docusaurus.config.js
  sidebars/index.js
  sidebars/typescript.js
Labels: dev experience, docs: typescript, website

#71 add(javascript): lookbehind assertion in regex
  docs/javascript/7.reference-type/regex.md
Labels: docs: javascript

#68 update(react): mount portal node onto other node
  docs/react/2.advanced/portal.md
Labels: docs: react

#80 add(javascript): destructuring assignment in object
  .github/workflows/pr-triage.yml
  docs/javascript/7.reference-type/object.md
Labels: dev experience, docs: javascript

#63 update(java): abstract class and interface
  docs/java/1.basic/abstract-class-interface.md
  docs/java/object-oriented-programming/abstract-class-interface.md
  docusaurus.config.js
  sidebars/java.js
Labels: docs: java, website

#81 add(typescript): enum type
  docs/typescript/1.types/enum.md
  sidebars/typescript.js
Labels: docs: typescript

#84 add(blog): create blog for exit command in linux
  blog/2020-02-11-linux-exit.md
Labels: blog

#85 fix(website): edit url issue
  docusaurus.config.js
Labels: website

#92 update(html): tip about selector in querySelector
  blog/2020-02-11-linux-exit.md
  docs/html/1.tag/form.md
  docs/html/1.tag/head-info.md
  docs/html/1.tag/html-structure.md
  docs/html/1.tag/html5-new-tags.md
  docs/html/1.tag/image.md
  docs/html/1.tag/link.md
  docs/html/1.tag/list.md
  docs/html/1.tag/object-iframe.md
  docs/html/1.tag/section-divisions.md
  docs/html/1.tag/table.md
  docs/html/1.tag/text.md
  docs/html/2.dom/event-object.md
  docs/html/2.dom/event-system.md
  docs/html/2.dom/event-type.md
  docs/html/2.dom/node-crud.md
  docs/html/2.dom/node.md
  docs/web/10.web-optimize/http-cache.md
  docs/web/10.web-optimize/lazy-loading.md
  docs/web/10.web-optimize/pic-optimize.md
  docs/web/10.web-optimize/webworker.md
  docs/web/7.graphics-effects/canvas.md
  docs/web/7.graphics-effects/js-animation.md
  docs/web/7.graphics-effects/webgl.md
  docs/web/8.offline-storage/IndexedDB.md
  docs/web/8.offline-storage/service-workers.md
  docs/web/8.offline-storage/summary.md
  docs/web/8.offline-storage/web-SQL.md
  docs/web/8.offline-storage/webstorage.md
  docs/web/9.web-security/ JWT.md
  docs/web/9.web-security/CSRF.md
  docs/web/9.web-security/OAuth.md
  docs/web/9.web-security/XSS.md
  docs/web/9.web-security/cookie.md
  docs/web/9.web-security/session.md
  sidebars/html.js
  sidebars/web.js
Labels: blog, docs: html, docs: web

#100 build(deps): bump docusaurus from 2.0.0-alpha.40 to 2.0.0-alpha.43
  docs/html/preface/note.md
  docusaurus.config.js
  package.json
  sidebars/html.js
  src/css/custom.css
  src/css/dark-mode.css
  src/css/media-queries.css
  src/css/variables.css
  yarn.lock
Labels: dependencies, docs: html, website

#93 update(web): update content of OAuth
  docs/web/9.web-security/OAuth.md
  docs/web/preface/note.md
  docs/web/preface/overview.md
Labels: docs: web

#96 update(web): JWT in Web
  docs/http/4.http-headers/request-header.md
  docs/web/9.web-security/ JWT.md
Labels: docs: http, docs: web

#102 fix(website): logo margin and display issue
  src/css/custom.css
  src/css/media-queries.css
Labels: website
