Repository tmf-map/docsite, pull requests merged in 2020-04, with the labels that each got.

#156 add(javascript): how to serialize and deserialize bigint
  .prettierrc
  docs/javascript/5.typing/bigint.md
  docusaurus.config.js
  package.json
  sidebars/javascript.js
Labels: dependencies, dev experience, docs: javascript, website

#145 add(typescript): intro to generic
  docs/typescript/5.generic/generic-class.md
  docs/typescript/5.generic/generic-function.md
  docs/typescript/5.generic/generic-interface.md
  sidebars/typescript.js
Labels: docs: typescript

#166 update(github-action): add dependencies and devExp in release drafter
  .github/release-drafter-config.yml
Labels: dev experience

#153 add(typescript): Class
  docs/typescript/4.class/abstract-class.md
  docs/typescript/4.class/class-and-inheritance.md
  docs/typescript/4.class/class-and-interface.md
  docs/typescript/4.class/data-modifiers.md
  docs/typescript/4.class/polymorphism.md
  sidebars/typescript.js
Labels: docs: typescript

#159 add(webpack): js tree shaking
  docs/webpack/2.Advanced/code-split.md
  docs/webpack/2.Advanced/js-tree-shaking.md
  docs/webpack/2.Advanced/resource-extraction.md
  sidebars/webpack.js
Labels: docs: webpack

#184 add(wiki): how to compose using mdx
  .github/labeler.yml
  .github/release-drafter-config.yml
  README.md
  docs/doc1.md
  docs/doc2.md
  docs/doc3.md
  docs/html/preface/note.md
  docs/mdx.md
  docs/wiki/1.get-started.md
  docs/wiki/2.compose/admonition.md
  docs/wiki/2.compose/codeblocks.md
  docs/wiki/2.compose/image.md
  docs/wiki/2.compose/tabs.md
  docusaurus.config.js
  package.json
  sidebars/docs.js
  sidebars/html.js
  sidebars/index.js
  sidebars/wiki.js
  src/css/admonition.css
  src/css/custom.css
  src/plugins/remark-npm2yarn.js
  yarn.lock
Labels: dependencies, dev experience, docs: html, website, wiki

#190 fix(website): allow navbar to be active by specifying a base path
  docs/wiki/1.get-started.md
  docusaurus.config.js
Labels: website, wiki

#192 update(web): fetch
  docs/web/2.data-transmission/fetch.md
Labels: docs: web

#196 add(website): Use nav dropdown
  .github/release-drafter-config.yml
  docusaurus.config.js
  src/css/custom.css
  src/css/dark-mode.css
  src/css/dropdown.css
  src/css/footer.css
  src/css/markdown.css
  src/css/navbar.css
  src/css/variables.css
Labels: dev experience, website

#221 update(blog): rename username of github
  .github/auto_assign.yml
  blog/2019-10-09-setTimeout和for循环.md
  blog/2019-10-11-setTimeout-or-setInterval.md
  blog/2019-11-04-Reverse-Proxy.md
  blog/2019-11-27-webService.md
  blog/2019-12-03-exports-vs-module.exports.md
  blog/2019-12-05-exports-vs-export.md
  docs/web/1.cross-domain/cors.md
  docs/web/1.cross-domain/jsonp.md
  docs/web/1.cross-domain/websocket.md
Labels: blog, dev experience, docs: web

#191 add(webpack): add loaders and plugins
  docs/webpack/1.Basic/basic.md
  docs/webpack/1.Basic/loaders.md
  docs/webpack/1.Basic/plugins.md
  sidebars/webpack.js
Labels: docs: webpack
