Repository tmf-map/docsite, pull requests merged in 2020-07, with the labels that each got.

#272 add(nodejs): basic usage of npm
  blog/2020-05-21-linux-redirect-dev-null.md
  docs/http/3.http-basic/cookie.md
  docs/java/object-oriented-programming/abstract-class-interface.md
  docs/nodejs/package-manager/npm.md
  docusaurus.config.js
  sidebars/nodejs.js
Labels: blog, docs: algorithm, docs: http, docs: java, docs: nodejs, website

#288 add(algorithm): Linkedlist
  docs/algorithm/4.linkedlist/LRU-cache.md
  docs/algorithm/4.linkedlist/design-linked-list.md
  docs/algorithm/4.linkedlist/linked-list-cycle.md
  docs/algorithm/4.linkedlist/linkedlist-1.md
  docs/algorithm/4.linkedlist/linkedlist-2.md
  docs/algorithm/4.linkedlist/middle-of-the-linked-list.md
  docs/algorithm/4.linkedlist/remove-nth-node-from-end-of-list.md
  docs/algorithm/4.linkedlist/reverse-linked-list.md
  docs/wiki/2.compose/tabs.md
  sidebars/algorithm.js
Labels: docs: algorithm, wiki

#318 update(nodejs): yarn config
  docs/nodejs/package-manager/yarn.md
Labels: docs: nodejs

#319 update(nodejs): switch registry in npm
  docs/nodejs/package-manager/npm.md
Labels: docs: nodejs

#325 update(github): reviewer list and labeler
  .github/auto_assign.yml
  .github/labeler.yml
  .github/release-drafter-config.yml
Labels: dev experience

#324 add(website): GifPlayer react component
  docs/wiki/2.compose/image.md
  package.json
  src/components/GifPlayer/GifPlayer.js
  src/components/GifPlayer/index.js
  src/css/custom.css
  src/css/gif-player.css
  yarn.lock
Labels: dependencies, website, wiki

#335 update(typescript): url about function type
  docs/typescript/2.types/basic-types.md
Labels: docs: typescript

#285 add(algorithm): comparison among different sorts
  docs/algorithm/8.sort/bubble-sort.md
  docs/algorithm/8.sort/bucket-sort.md
  docs/algorithm/8.sort/heap-sort.md
  docs/algorithm/8.sort/insertion-sort.md
  docs/algorithm/8.sort/merged-sort.md
  docs/algorithm/8.sort/quick-sort.md
  docs/algorithm/8.sort/radix-sort.md
  docs/algorithm/8.sort/selection-sort.md
  docs/algorithm/8.sort/sort-basic.md
  docs/algorithm/8.sort/sort-summary.md
  docs/javascript/8.object-oriented-programming/create-instance.md
  sidebars/algorithm.js
  src/components/Math.js
  src/css/leftbar.css
  yarn.lock
Labels: dependencies, docs: algorithm, docs: javascript, website
